/*
Author: Catherine Ackerson 
Date: 12/7/2017
Class: CIS276DB 26870
Final Project
Create Database
*/

USE master
GO

/* Checks for and drops the MusicStudio Database if it already exists */
IF DB_ID('CSAMusicStudio') IS NOT NULL
	DROP DATABASE CSAMusicStudio
GO

/* Creates the Database */
CREATE DATABASE CSAMusicStudio
GO 

/* Selects database to use */
USE CSAMusicStudio
GO

/**************Create Tables*******************/

/* Create Table Students */  
CREATE TABLE CSAStudents(
	StudentID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	FirstLessonDate date NOT NULL, 
	LessonLength varchar(50) NOT NULL,
	LessonRate money NOT NULL,
	DueWeeklyOrMonthly varchar(50) NOT NULL,
	NumberOfInstruments int NULL,
	InstrumentsPlayed varchar(50) NOT NULL,
	Birthday date NULL,
	FavoriteColor varchar(50) NULL,
	FavoriteSong varchar(50) NULL,
	FavoriteGenre varchar(50) NULL,
	Goal varchar(100) NULL
)
GO 

/* Create Table ContactInfo */ 
CREATE TABLE CSAContactInfo(
	ContactID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	StudentID int NOT NULL FOREIGN KEY REFERENCES CSAStudents(StudentID),
	StudentOrParentGuardian varchar(50) NOT NULL,
	FName varchar(50) NULL,
	LName varchar(50) NULL,
	Address1 varchar(50) NULL,
	Address2 varchar(50) SPARSE NULL,
	City varchar(50) NOT NULL,
	State char(2) NOT NULL,
	ZipCode varchar(20) NULL,
	Phone1 varchar(20) NULL,
	Phone2 varchar(20) NULL,
	Email1 varchar(50) NULL,
	Email2 varchar(50) NULL
)
GO

/* Create Table LessonInfo */ 
CREATE TABLE CSALessonInfo(
	LessonID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	StudentID int NOT NULL FOREIGN KEY REFERENCES CSAStudents(StudentID),
	LessonDate date NOT NULL,
	Attended varchar(1) NOT NULL,
	Rescheduled varchar(1) NULL,
	RescheduledDate date NULL,
	DaysPracticed int NULL,
	ActualLessonLength varchar(50) NULL,
	TeacherNotes varchar(200) NULL
)
GO

/* Create Table PaymentInfo */ 
CREATE TABLE CSAPaymentInfo(
	PaymentID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	StudentID int NOT NULL FOREIGN KEY REFERENCES CSAStudents(StudentID),
	PaymentDate date NOT NULL,
	PaymentAmount money NOT NULL,
	PaymentType varchar(50) NOT NULL,
	PaymentNote varchar(100) NULL
)
GO

/* Create Table SongsLearned */ 
CREATE TABLE CSASongsLearned(
	SongID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	LessonID int NOT NULL FOREIGN KEY REFERENCES CSALessonInfo(LessonID),
	SongName varchar(100) NULL,
	SongComposer varchar(50) NULL,
	BookSongIsIn varchar(50) NULL,
	Page int NULL,
	InstrumentPlayedOn varchar(50) NULL,
	DateStartedLearning date NULL,
	DateLearnedBasics date NULL,
	DateLearnedtoPerformanceStandards date NULL,
	DatePerformed date NULL,
	TeacherNotes varchar(200) NULL
)
GO

/* Create Table TheoryLearned */ 
CREATE TABLE CSATheoryLearned(
	TheoryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	LessonID int NOT NULL FOREIGN KEY REFERENCES CSALessonInfo(LessonID),
	TheoryName varchar(100) NOT NULL,
	BookTheoryIsIn varchar(50) NULL,
	Page int NULL,
	InstrumentPlayedOn varchar(50) NULL,
	DateStartedLearning date NULL,
	LastPlayed date NULL,
	LastMetronomeSpeedPlayed int NULL,
	TeacherNotes varchar(200) NULL
)
GO

/* Create Table ImprovLearned */ 
CREATE TABLE CSAImprovLearned(
	ImprovID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	LessonID int NOT NULL FOREIGN KEY REFERENCES CSALessonInfo(LessonID),
	ImprovName varchar(100) NOT NULL,
	KeyImprovIsIn varchar(50) NULL,
	InstrumentPlayedOn varchar(50) NULL,
	DateStartedLearning date NULL,
	LastPlayed date NULL,
	LastMetronomeSpeedPlayed int NULL,
	TeacherNotes varchar(200) NULL
)
GO

/* Create Table Games */ 
CREATE TABLE CSAGames(
	GameID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	LessonID int NOT NULL FOREIGN KEY REFERENCES CSALessonInfo(LessonID),
	GameName varchar(50) NOT NULL,
	DatePlayed date NOT NULL,
	GameLevel int NOT NULL,
	GameScore varchar(50) NOT NULL
)
GO

/* Create Table AwardsEarned */ 
CREATE TABLE CSAAwardsEarned(
	AwardID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	StudentID int NOT NULL FOREIGN KEY REFERENCES CSAStudents(StudentID),
	InstrumentPlayedOn varchar(50) NOT NULL,
	AwardName varchar(50) NOT NULL,
	AwardEarnedfor varchar(50) NOT NULL,
	Dateawarded date NULL
)
GO

/************Insert Data into Tables********************/

/* Insert Student Data into Students Table */
SET IDENTITY_INSERT CSAStudents ON
SET IDENTITY_INSERT CSAStudents OFF
GO

/* Insert Data into ContactInfo Table */
SET IDENTITY_INSERT CSAContactInfo ON
SET IDENTITY_INSERT CSAContactInfo OFF
GO

/* Insert Data into CSALessonInfo Table */
SET IDENTITY_INSERT CSALessonInfo ON
SET IDENTITY_INSERT CSALessonInfo OFF
GO

/* Insert Data into CSAPaymentInfo Table */
SET IDENTITY_INSERT CSAPaymentInfo ON
SET IDENTITY_INSERT CSAPaymentInfo OFF
GO


/* Insert Data into CSASongsLearned Table  */
SET IDENTITY_INSERT CSASongsLearned ON
SET IDENTITY_INSERT CSASongsLearned OFF
GO

/* Insert Data into CSATheoryLearned Table */
SET IDENTITY_INSERT CSATheoryLearned ON
SET IDENTITY_INSERT CSATheoryLearned OFF
GO


/* Insert Data into CSAImprovLearned Table  */
SET IDENTITY_INSERT CSAImprovLearned ON
SET IDENTITY_INSERT CSAImprovLearned OFF
GO


/* Insert Data into CSAGames Table */
SET IDENTITY_INSERT CSAGames ON
SET IDENTITY_INSERT CSAGames OFF
GO


/* Insert Data into CSAAwardsEarned Table */
SET IDENTITY_INSERT CSAAwardsEarned ON
SET IDENTITY_INSERT CSAAwardsEarned OFF
GO

CREATE INDEX IX_CSAContactInfo_StudentID
    ON CSAContactInfo (StudentID);
CREATE INDEX IX_CSAPaymentInfo_StudentID
    ON CSAPaymentInfo (StudentID);
CREATE INDEX IX_CSAAwardsEarned_StudentID
    ON CSAAwardsEarned (StudentID);
CREATE INDEX IX_CSALessonInfo_StudentID
    ON CSALessonInfo (StudentID);
CREATE INDEX IX_CSAGames_LessonID
    ON CSAGames (LessonID);
CREATE INDEX IX_CSASongsLearned_LessonID
    ON CSASongsLearned (LessonID);
CREATE INDEX IX_CSATheoryLearned_LessonID
    ON CSATheoryLearned (LessonID);
CREATE INDEX IX_CSAImprovLearned_LessonID
    ON CSAImprovLearned (LessonID);
